
/** fonts **/

@font-face {
    font-family: 'Supreme-Regular';
    src: url('fonts/Supreme-Regular.woff2') format('woff2'),
         url('fonts/Supreme-Regular.woff') format('woff'),
         url('fonts/Supreme-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  

  @font-face {
    font-family: 'Supreme-Italic';
    src: url('fonts/Supreme-Italic.woff2') format('woff2'),
         url('fonts/Supreme-Italic.woff') format('woff'),
         url('fonts/Supreme-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }

@font-face {
    font-family: 'Supreme-Medium';
    src: url('fonts/Supreme-Medium.woff2') format('woff2'),
         url('fonts/Supreme-Medium.woff') format('woff'),
         url('fonts/Supreme-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Supreme-Bold';
    src: url('fonts/Supreme-Bold.woff2') format('woff2'),
         url('fonts/Supreme-Bold.woff') format('woff'),
         url('fonts/Supreme-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

  /** fonts styles **/
  .title {font-family: Supreme-Medium, Arial, sans-serif;
    color: white;
    font-size: 12em;
  }